.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  width: fit-content;
}

.extra {
  text-align: center;
}

.text {
  font-size: 12px;
}

.value {
  font-size: 10px;
  margin-block-start: 4px;
  color: #0007;
}
