.section-1 {
  box-sizing: border-box;
  width: 100%;
  min-height: calc(90vh - var(--header-height));
  padding: 20vh 0 15vh;
}

.logo {
  text-align: center;
  width: 100%;
  position: fixed;
  font-size: 20em;
  top: calc(10vh);
  opacity: .035;
  transform: translateX(-7px);
}

.title {
  font-family: "Source Han Serif", serif;
  margin: 0;
  font-size: 80px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 14px;
}

.subtitle {
  font-family: "Source Han Sans", sans-serif;
  margin: 20px 0 0 0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 12px;
  font-weight: 100;
}

.contents {
  margin-top: 20vh;
  display: flex;
  gap: 40px;
  justify-content: center;
}
